.hajujo_widget {
	margin-left: -30px;
}

.noThumbnailAvail {
	width: 140px;
	height: 100px;
	background-color:#7B7676;	
}

.hajujo_widget li {
	list-style: none;
	margin-top: 15px;	
}

.hajujo_widget li a {
	margin-left: 2px;
	display:block;
}

.hajujo_widget li img {	
	margin-bottom: 5px;
}

.widget-title {
	margin-left: 10px;	
}